/* Write your code here. */
.image {
  height: 10vh;
  
  
}

li {
  background-color: #ffffff33;
  height: 25vh;
  width: 25vh;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
  cursor: pointer;
}
